<div class="container">
  <div class="row">
    <div class="col-sm12 col-md8 col-lg-5 px-5 px-sm-0 mx-auto">
      <p></p>
      <h3>Editing Book</h3>
      <%= form_with model:@book, local:true do |f| %>
        <h6 for="inputTitle">Title</h6>
        <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"Title"%>
        <h6 for="Opinion">Opinion</h6>
        <%= f.text_area :body, autofocus: true, id:"inputOpinion", placeholder:"Opinion" %>
        <p></p>
        <input type="submit" name="commit" value="Update Book" class="btn btn-success" data-disable-with="Update Book">
      <% end %>
      <%= link_to "Show", book_path(@book.id) %> |
      <%= link_to "Back", books_path %>
    </div>
  </div>
</div>